version: '3.8'


services:
  php:
    build: ..
    container_name: php_cli
    volumes:
      - .:/app
    depends_on:
      - db
    tty: true

  db:
    image: postgres:16
    container_name: postgres_db
    env_file:
      - .env
    ports:
      - "5432:5432"
